{% extends 'core/base.html'%}
<title>{% block title%}acerca de {% endblock title %}
{% load static %}
{% block content %}
<section class="wrapper style3 container special">

							<header class="major">
								<h2> <strong> EQUIPO RRPMP</strong></h2>
							</header>

							<div class="row">
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="{%static 'core/images/eric.jpg'%}" alt="" /></a>
										<header>
											<h3>Eric Gajardo</h3>
										</header>
										<p>Ingeníera en Informática, Desarrollo de Aplicaciones Web y Mobile 002D.</p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="{%static 'core/images/eduardo.jpg'%}" alt="" /></a>
										<header>
											<h3>Eduardo Muñoz</h3>
										</header>
										<p>Ingeníera en Informática, Desarrollo de Aplicaciones Web y Mobile 002D</p>
									</section>

								</div>
							</div>
							<div class="row">
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="{%static 'core/images/marco.jpg'%}" alt="" /></a>
										<header>
											<h3>Marco Abatte </h3>
										</header>
										<p>Ingeníera en Informática, Desarrollo de Aplicaciones Web y Mobile 002D</p>
									</section>

								</div>
								<div class="col-6 col-12-narrower">

									<section>
										<a href="#" class="image featured"><img src="{%static 'core/images/matias.jpg'%}" alt="" /></a>
										<header>
											<h3>Matias Treupil</h3>
										</header>
										<p>Ingeníera en Informática, Desarrollo de Aplicaciones Web y Mobile 002D</p>
									</section>

								</div>
							</div>


						</section>

				</article>

{% endblock %}